################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleApplication/packages
**/.vs
**/bin
**/obj
**/*.suo
**/*.user
